<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='./css/style.css'>
        <script>src='./js/style.js'</script>
    </head>
        <body>
            {{>header}}
           <h2>logged in as {{name}} aged {{age}}</h2>
            <h1 style="font-size: 100px">404 Error</h1>
            <h2 style="font-size: 50px">{{message}}</h2>
            {{>footer}}
        </body>
</html>